@font-face {
	font-family: 'Yekan';
	src:	url('./components/font/Yekan-Font-master/Yekan.eot'); /* IE9 Compat Modes */
	src:	url('./components/font/Yekan-Font-master/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('./components/font/Yekan-Font-master/Yekan.woff2') format('woff2'), /* Modern Browsers */
			url('./components/font/Yekan-Font-master/Yekan.woff') format('woff'), /* Modern Browsers */
			url('./components/font/Yekan-Font-master/Yekan.otf') format('opentype'), /* Open Type Font */	
			url('./components/font/Yekan-Font-master/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}
*{
  margin: 0;
  padding: 0;

  font-family: 'yekan';
  
  direction: rtl;
 

}
body {
  
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  background: #f5f5f5;
  padding-top: 170px;

}
a {
text-decoration: none;

}
ul{
  list-style: none;
  display: flex;
}


