
*{
  margin: 0;
  padding: 0;

  font-family: 'yekan';
  color: #4f4f4f;
  direction: rtl;
 

}
body {
  
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;

}
a {
text-decoration: none;
color: #4f4f4f;
}


